{% extends 'base.html.twig' %}

{% block title %}Logement
{% endblock %}

{% block body %}
	<h1>Logement disponible</h1>

	{#<table class="table">
															<thead>
																<tr>
																	<th>Id</th>
																	<th>Ville</th>
																	<th>Adresse</th>
																	<th>Code_postal</th>
																	<th>Places_disponibles</th>
																	<th>actions</th>
																</tr>
															</thead>
															<tbody>
																{% for appart in apparts %}
																	<tr>
																		<td>{{ appart.id }}</td>
																		<td>{{ appart.ville }}</td>
																		<td>{{ appart.adresse }}</td>
																		<td>{{ appart.codePostal }}</td>
																		<td>{{ appart.placesDisponibles }}</td>
																		<td>
																			<a href="{{ path('app_appart_crud_show', {'id': appart.id}) }}">show</a>
																			<a href="{{ path('app_appart_crud_edit', {'id': appart.id}) }}">edit</a>
																		</td>
																	</tr>
																{% else %}
																	<tr>
																		<td colspan="6">no records found</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>#}

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for appart in apparts %}
			<div class="col">
				<div class="card">
					<img src="https://www.residence-nemea.com/upload/hotel_residence_universe/355/main/25347.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{ appart.ville }}</h5>

						<p class="card-text">{{ appart.adresse}}</p>
						<p class="card-text">{{ appart.codePostal}}</p>
						<p class="card-text">{{ appart.placesDisponibles }}</p>
						<p class="card-text">
							<small class="text-muted">Disponible</small>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
