{% extends "base.html.twig" %}
{% import "macro.html.twig" as macros %}

{% trans_default_domain 'admin' %}

{% block body_id 'appart-list' %}

{% block title %}Gestion des Appartements{% endblock %}

{% block body %}

	{{ form_start(listingForm) }}
	<div class="page-header">
		<div class="row row-h align-items-center mb-4">
			<div class="col-sm">
				<h1 class="mb-0">Appartements</h1>
			</div>
			<div class="col-sm-auto">
				<div class="row row-sm row-sm-h align-items-center justify-content-center">
					{% if listingForm.filters is defined %}
						<div class="col-auto d-lg-none">
							<a href="#bloc-filters" data-toggle="collapse" class="btn btn-main-gray-light">
								<i class="fas fa-filter mr-2"></i> Filtrer par
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	{% if listingForm.filters is defined %}
		{% include 'partials/grid/filters.html.twig' with {filters: listingForm.filters} %}
	{% endif %}

	<div class="row row-md-h align-items-center pt-4 mb-3 mb-lg-0">
		<div class="col-md col-lg-12">
			<h2 class="mb-0">
				<i class="far"></i> Liste des Appartement <span class="badge-pill badge-tertiary ml-2">{{ items.count() }}</span>
			</h2>
		</div>
		{% if items is not empty %}
			<div class="col-md col-lg-12">
				<div class="pl-lg-3 pr-lg-3">
					<div class="row align-items-end">
						{% include 'partials/default/sorts.html.twig' with {
							cols:       {
								'id': {'label': 'id'},
							},
							order:      listingForm.vars.value.order|default('createdDate'),
							direction:  listingForm.vars.value.direction|default('ASC')} %}
						{{ macros.empty_ellipsis_button() }}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	{% if items is empty %}
		<div class="empty-value">
			<i>Aucun projet n\'a été trouvé
			</i>
		</div>
	{% else %}
		<div class="list-group list-group-flush">
		{% for project in items %}
			{% set menu_actions_list = [
				{'type': 'view', 'title': 'Consulter/Editer les infos', 'path': path('project_edit', {id: project.id}) },
				{'type': 'view', 'title': 'Supprimer', 'path': path('project_delete', {id: project.id}) }
			] %}

			<div class="list-group-item list-group-item-main-gray-light" data-project-id={{ project.id }}>
				<div class="col-12 col-lg">
					<div class="row row-h">
						<div class="col">
							<a href="{{ path('project_edit', {'id': project.id}) }}" class="link d-block">
								{{ project.ville }}
							</a>
						</div>
						<div class="col-auto d-none d-lg-block">
							{{ macros.menu_actions(menu_actions_list) }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{% if items|length > itemsPerPage %}
		{% include 'partials/grid/paginate.html.twig' with {offset: listingForm.vars.value.offset|default(0)} %}
	{% endif %}

	{{ form_end(listingForm) }}

{% endblock %}